{% extends "admin/layouts/main.twig" %}
{% block content %}
    <nav class="mainNav adminNav">
    <ul>
    <li><a href="/php2Course/lesson5/php2Course/public/user/">Пользователи</a></li>
    <li><a href="/php2Course/lesson5/php2Course/public/order/allorders/">Все заказы</a></li>
    </ul>
    </nav>
    Hello Admin!
{% endblock %}