{% extends "layouts/main.twig" %}
{% block content %}
    <h2>Добавление нового товара</h2>
    <form action="add" method="post" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <input type="hidden" name="MAX_FILE_SIZE" value="2000000">
            <input type="hidden" name="old-image" value="">
            <label for="user_pic">Загрузить изображение товара:</label>
            <input type="file" required name="user_pic" size="30">
        </fieldset>

        Name <input type="text" name="name"><br>
        Description <input type="text" name="description"><br>
        Category <input type="number" name="category"><br>
        Price <input type="number" name="price"><br>
        <input type="submit" value="Send">
    </form>

{% endblock %}