{% extends "layouts/main.twig" %}
{% block content %}
<a href="/php2Course/lesson5/php2Course/public/user/add">Добавить пользователя</a>

{% for user in users %}
<h1>
<a href="/php2Course/lesson5/php2Course/public/user/one?id={{user.id}}">
    {{user.login}}
</a></h1>
{% else %}
    <p>Net</p>
{% endfor %}

{% endblock %}
