{% extends "layouts/main.twig" %}
{% block content %}
<a href="?c=user&a=add">Добавить пользователя</a>

{% for user in users %}
<h1>
<a href="?c=user&a=one&id={{user.id}}">
    {{user.login}}
</a></h1>
{% else %}
    <p>Net</p>
{% endfor %}

{% endblock %}
